/target

/data/trec/train
/data/trec/test

/CASes

/CASes-trec

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

nohup.out

de.tudarmstadt.ukp.dkpro.core.treetagger-asl/
