/target

/data/trec/train
/data/trec/test

/data/mengqui/train
/data/mengqui/test

/data/question-classifier/train
/data/question-classifier/models

src/test/java/qa/qcri/qf/type/

/CASes

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

nohup.out

de.tudarmstadt.ukp.dkpro.core.treetagger-asl/

resources/limosine
